<!DOCTYPE html>
<html>
<head>
    <title>Rnalytics</title>
    <link href="/static/styles.css" rel="stylesheet">
    <script src="/static/script.js"></script>
    <script src="/static/charts2.js"></script>
</head>
<body>
    <div id="menu">
        <div id="menu-items">
            <a href="/" class="menu-item">Home</a>
            <a href="/maps" class="menu-item">Maps</a>
            <a href="/graphs" class="menu-item">Graphs</a>
            <a href="/raw_data" class="menu-item">Raw Data</a>
        </div>
        <div id="menu-background-pattern"></div>    
        <div id="menu-background-image"></div>
    </div>
</body>
</html>